<!-- About Section -->
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>I am a Ph.D. candidate in the Department of Artificial Intelligence at Korea University. <br> <br>
           My research lies at the intersection of machine learning, neural engineering, and clinical neuroscience, with a particular focus on AI for epilepsy and brain decoding.</p>
      </div>
      <div class="col-lg-4">
        <p>I develop machine-learning methods for biomedical signals with the goal of advancing neural engineering research and translating these approaches into practical clinical decision-support workflows.
           I am always happy to connect with others who share similar research interests. Please feel free to reach out.

        </p>
      </div>
    </div>
  </div>
</section>
